<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director_entry.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director_entry.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director_entry.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <% href= @director_entry.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@director_entry.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@director_entry.updated_at) %> ago
  </dd>
</dl>

<h2>Filmography</h2>
<table border="1">
<% @filmography.each do |a_film| %>
  <% @entry = Movie.where({:id => a_film.movie_id}).at(0) %>
  <tr>
    <td>
    <%= Movie.where({:id => a_film.movie_id}).at(0).title %>
    </td>
    <td>
    <%= Movie.where({:id => a_film.movie_id}).at(0).year %>
    </td>
    <td>
    <%= Director.where({:id => @entry.director_id}).at(0).name %>
    </td>
    <td>
    <%= a_film.name %>
    </td>
    <td>
    <a href="/movies/<%= a_film.movie_id %>">
    Show details
    </td>
  </tr>
<% end%>
</table>
